@page
@model EtaInfoModel
@{
  ViewData["Title"] = "Live Train Times";
}

<link rel="stylesheet" href="/css/site.css">

<h2>Live Train Times</h2>  

<br />
Your search string: "@Model.Input"
<br />
# of trains found: @Model.TrainList.Count
<br />
<br />
@{
   if (@Model.EX != null && @Model.TrainList.Count == 0)
	 {
		 <h3>**Sorry, couldn't find any times for that location**</h3>
         <h5>1. Make sure station entered is correct</h5>
         <h5>2. There are no trains coming to this stop at the moment</h5>
		 <br />
		 <hr />
		 <br />
		 <br />
	 }
}

<table class="table">  
    <thead>  
        <tr>   
            <th>  
                StationID
            </th>  
			<th>  
                Currently Here
            </th>  
            <th>  
                Direction
            </th>
             <th>  
                Line (Color)
            </th>
             <th>  
                ETA Arrival  
            </th>
             <th>  
                Arriving in (Minutes)
            </th>
        </tr>  
    </thead>  
    <tbody>  
        @foreach (var item in Model.TrainList)  
        {  
            <tr id=@item.routeColor>  
                <td id=@item.routeColor>  
					@item.stationID
                </td>  
                <td id=@item.routeColor>  
                    @item.stationName
                </td> 
				<td id=@item.routeColor>  
                    @item.stopDestination
                </td>
                 <td id=@item.routeColor>  
                    @item.routeColor
                </td>
                <td id=@item.routeColor>  
					@item.arrivalT
                </td>
                
                @if(item.difference.TotalMinutes >= 2)
                {
                    <td id=@item.routeColor>
                        @item.difference.TotalMinutes Minutes
                    </td>
                }else
                {
                   <td style="background-color: white; color: black">
                        @item.difference.TotalMinutes Minute (Arriving Soon!)
                    </td>
                }
                            

            </tr>  
        }  
    </tbody>  
</table> 