@page
@model StationInfoModel
@{
  ViewData["Title"] = "Station Information";
}

<h2>Station Information</h2>  

<br />
Your search string: "@Model.Input"
<br />
# of stations found: @Model.StationList.Count
<br />
<br />
@{
   if (@Model.EX != null)
	 {
		 <h3>**ERROR: @Model.EX.Message</h3>
		 <br />
		 <hr />
		 <br />
		 <br />
	 }
}

<table class="table">  
    <thead>  
        <tr>   
            <th>  
                ID
            </th>  
			<th>  
                Name
            </th>  
            <th>  
                Average Daily Ridership 
            </th>
             <th>  
                # of stops (integer)
            </th>
             <th>  
                Handicap Accessible stops 
            </th>
        </tr>  
    </thead>  
    <tbody>  
        @foreach (var item in Model.StationList)  
        {  
            <tr>  
                <td>  
					@item.StationID
                </td>  
                <td>  
                    @item.StationName
                </td> 
				<td>  
                    @item.AvgDailyRidership
                </td>
                <td>  
					@item.numStop
                </td>
                <td>  
					@item.ada
                </td>
            </tr>  
        }  
    </tbody>  
</table> 

